<div class="alert alert-danger">
You're logged in, You will be redirected to the home page in seconds ...
<br />
</div>
<div class="text-right">
  <a href="/" class="btn btn-primary">OK, Take me to home page!</a>
</div>
<meta http-equiv="refresh" content="3; url=/" />
