{% extends 'default/index.html.twig' %}

{% block content_title %}System Message:{% endblock %}


{% block content %}

<div class="alert alert-danger">
<strong></strong> OOOPS! Something went wrong.
<br />
</div>
<div class="text-right">
  <a href="/" class="btn btn-primary">OK, Take me to home page!</a>
</div>
{% endblock %}
