{% extends 'default/index.html.twig' %}

{% block content_title %}Show Order{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('errors') %}
    <div class="alert alert-danger">
      {{ flashMessage }}
    </div>
{% endfor %}

{% include 'default/content/order/component/order.html.twig' %}

{% endblock %}
