{% extends 'default/index.html.twig' %}

{% block content_title %}Show Order{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('errors') %}
    <div class="alert alert-danger">
      {{ flashMessage }}
    </div>
{% endfor %}

<div id="order">

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="/js/orderat.order-parser.js"></script>
    <script>
    var orderStream = `{% include 'default/content/order/component/order.html.twig' %}`;
    var order = getResponseFromResponseStream(jsonEscape(orderStream));
    var orderTemplate = getOrderTemplate(order);
    $("#order").html(orderTemplate);
    </script>
{% endblock %}
