<div class="progress">

  <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 20%">
    <span>Active</span>
  </div>

  {% if forder.state.id >=2 %}
   <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 20%">
    <span>Ready</span>
  </div>
  {% endif %}

  {% if forder.state.id >=3 %}
   <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
    <span>Waiting</span>
  </div>
  {% endif %}

  {% if forder.state.id >=4 %}
   <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 20%">
    <span>Delivered</span>
  </div>
  {% endif %}

  {% if forder.state.id ==5 %}
   <div class="progress-bar progress-bar-primary progress-bar-striped" style="width: 20%">
    <span>Complete</span>
  </div>
  {% endif %}

</div>
