{% extends 'default/index.html.twig' %}

{% block content_title %}Active Orders, Now! ({{ forders.getTotalItemCount }} Orders){% endblock %}

{% block content %}

{% for forder in forders %}

{% include 'default/content/order/component/order.html.twig' %}

{% endfor %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="navigation">
      {{ knp_pagination_render(forders) }}
    </div>
  </div>
</div>

{% endblock %}
